@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

:root {
    --background: rgb(224, 234, 247);
    --header-background: white;
    --footer-background: rgb(243, 242, 242);
}

body {
    font-family: 'Hubballi', cursive;
    background-image: url("hobbiton.jpg");
    display: flex;
    align-content: center;
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    background-color: var(--footer-background);
}

#elvish-font {
    background-color: rgba(119, 195, 223, 0.534);
    font-weight: 200;
    font-size: 20px;
    padding-bottom: 5px;
}

#creature-section {
    background-color: rgba(119, 195, 223, 0.534);
    font-weight: 200;
    font-size: 20px;
    padding-bottom: 5px;

}

.elvish {
    font-family: elvish;
}

.hidden {
    display: none;
}
